- var PATH_COUNT = 10;
doctype html
html
  head
    title Map App
    meta(name="viewport" content="initial-scale=1.0")
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles.css")
  body
    #map

    form(name="ui")
      #buttons
        input(type="button" id="clear_path" value="Clear Path" onClick="page.map.clearPath();")
        input(type="button" id="save_path" value="Save Path" onClick="page.savePath();")
        input(type="button" id="switch_layer" value="Show Heat Map" onClick="page.switchLayer();")
      h4 Saved Paths
      select(size=PATH_COUNT id="saved_paths" autocomplete="off")
        - var n = 1;
        option(selected id="path_" + n) -
        while n < PATH_COUNT
          option(id="path_" + ++n) -
      div
        input(type="button" id="export_as_json" value="Export as JSON" onClick="page.exportJSON();")

    script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCImd2THYRXV_sXxqYXVhnl3AdV-odnIr4&callback=initMap&libraries=visualization")
    script(src="path.js")
    script(src="my_map.js")
    script(src="container.js")
    script(src="page.js")
    script(src="main.js")
