html {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    height: 90%;
    width: 90%;
    margin: 0 auto;
}

input[type=button] {
    width: 12em;
    margin: 1em;
}

select {
    width: 15em;
    text-align: left;
    overflow: auto;
}

h4 {
    margin-bottom: 0.5em;
}

#map {
    height: 50%;
    width: 100%;
    margin-top: 7%;
    border: 1px black solid;
}

#ui {
    width: 100%;
    height: 50%;
}
